<template>
    <div class="ogl">
        <a href="https://discord.com/channels/742826671329116172/742826672792797281" target="_blank">
            <button class="ogl_btn">🔥 Rekrutacja na rangę Opiekun Partnerstw otwarta 🔥</button> <br>
        </a>
        <a href="https://discord.com/channels/742826671329116172/742826672792797281" target="_blank">
            <button class="ogl_btn">🔅 Rekrutacja na rangę Opieku Strefy Graficznej otwarta 🔅</button> <br>
        </a>
    </div>
</template>
<script>
export default {
    name: 'Ogl'
}
</script>
<style lang="scss" scoped>
    .ogl{
        margin-top: 50px;
        text-align: center;

        .ogl_btn{
            padding: 10px 20px;
            border: none;
            border-radius: 10px;
            background-color: #8999e4;
            color: white;
            transition: .2s;
            outline: none;
            text-decoration: none;
            margin: 10px 0;
            &:hover{
                transform: scale(1.1);
                background-color: #9cabf1;
            }
            &:active{
                transform: scale(.9);
                background-color: #7a87c0;
            }
        }
    }

    @media screen and (max-width: 425px) {
        .ogl{
            margin-top: 50px;
            text-align: center;

            .ogl_btn{
                padding: 10px 20px;
                font-size: 12px;
                border: none;
                border-radius: 10px;
                color: white;
                transition: .2s;
                outline: none;
                text-decoration: none;
                margin: 10px 0;
            }
        }
    }
</style>