<template>
    <div class="topdonate">
        <table cellspacing="0" cellpadding="0">
            <tr>
                <td> <div class="top1"> TOP 1 </div> </td>
                <td> <div class="nick"> Aquel </div> </td>
                <td> <div class="price"> 49,00 PLN </div> </td>
            </tr>
            <tr>
                <td> <div class="top2"> TOP 2 </div> </td>
                <td> <div class="nick"> FramugaMan </div> </td>
                <td> <div class="price"> 30,00 PLN </div> </td>
            </tr>
            <tr>
                <td> <div class="top3"> TOP 3 </div> </td>
                <td> <div class="nick"> Makoto </div> </td>
                <td> <div class="price"> 19,00 PLN </div> </td>
            </tr>
        </table>
    </div>
</template>

<script>
export default {
    name: 'Top'
}
</script>

<style lang="scss" scoped>
    .topdonate{
        text-align: center;
        position: relative;

        table{
            position: absolute;
            left: 50%;
            top: -20px;
            transform: translateX(-50%);

            tr{
                td{
                    div{
                        padding: 5px 15px;
                        background-color: #666;
                        border-radius: 10px;
                        margin: 10px;
                        color: white;
                        cursor: default;

                        &.top1{
                            background-color: #ffa600;
                            font-weight: bold;
                        }
                        &.top2{
                            background-color: silver;
                            font-weight: bold;
                        }
                        &.top3{
                            background-color: brown;
                            font-weight: bold;
                        }

                        &.nick{
                            background-color: #006eff;
                        }

                        &.price{
                            background-color: #189456;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
</style>