<template>
  <div class="donate">
    <div class="hero">
      <h1>Donate</h1>
    </div>

    <div class="check">
      <h1>Wesprzyj nas już teraz!</h1>
      <a href="https://tipply.pl/u/MintLand"> <button>Wesprzyj</button> </a>
    </div>

    <div class="top">
      <h1>Top 3 donate</h1>
      <Top/>
    </div>
    <Footer/>
  </div>
</template>
<script>
import Top from '@/components/topdonate/Top.vue'
import Footer from '@/components/Footer.vue'

export default {
    name: 'Donate',
    components: {
      Top,
      Footer
    }
}
</script>
<style lang="scss" scoped>
    .donate{
        .hero{
          width: 100vw;
          height: 70vh;
          background-color: #131524;
          background: url(../assets/bg/bg.png);
          background-attachment: fixed;
          background-size: cover;
          position: relative;
          overflow: hidden;
          z-index: 5;

          h1{
            position: absolute;
            left: 50%;
            top: 50%;
            font-size: 64px;
            transform: translate(-50%, -80%);
          }
        }
        
        .check{
          background-color: #eeeeee;
          color: black;
          padding: 100px 0;
          
          h1{
            margin: 0;
            margin-bottom: 50px;
          }

          button{
            padding: 10px 20px;
            background-color: #3d4175;
            border: none;
            border-radius: 10px;
            font-size: 20px;
            font-weight: bold;
            color: white;
            outline: none;
            transition: .2s;

            &:hover{
              transform: scale(1.1);
              background-color: #52569b;
            }

            &:focus{
              transform: scale(.95);
              background-color: #2d3058;
            }
          }
        }

        .top{
          background-color: #e1e7ff;
          color: black;
          padding: 100px 0;
          min-height: 300px;

          h1{
            text-transform: uppercase;
            font-weight: bold;
            position: relative;
            top: -50px;
          }
        }
    }
</style>