<template>
  <div class="home">
    <HomeHero/>
    <Ogloszenia/>
    <Homeinfo/>
    <Team/>
    <Wsparcie/>
    <Sklep/>
    <Footer/>
  </div>
</template>

<script>
// @ is an alias to /src
import HomeHero from '@/components/HomeHero.vue'
import Ogloszenia from '@/components/Ogloszenia.vue'
import Homeinfo from '@/components/Home_info.vue'
import Team from '@/components/Team.vue'
import Wsparcie from '@/components/Wsparcie.vue'
import Sklep from '@/components/Sklep.vue'
import Footer from '@/components/Footer.vue'

export default {
  name: 'Home',
  components: {
    HomeHero,
    Ogloszenia,
    Homeinfo,
    Team,
    Wsparcie,
    Sklep,
    Footer
  }
}
</script>

<style lang="scss" scoped>
  .home{
    width: 100vw;
    height: auto;
    overflow: hidden;
    overflow-y: auto;
  }
</style>
