<template>
  <div class="contact">
    <div class="hero">
      <h1>Kontakt</h1>
    </div>
    <div class="adm">
      <h1>Administracja</h1>
      <div class="container_adm">
        <div class="box">
          <img src="../assets/img/facet.png" alt="M">
          <div class="ad">Właściciel</div>
          <h2>Sacky</h2>
          <div class="dc">Discord:</div>
          <h5>Sacky#2236</h5>
        </div>
        <div class="box">
          <img src="../assets/img/kobieta.png" alt="K">
          <div class="ad">Właściciel</div>
          <h2>Fabisia</h2>
          <div class="dc">Discord:</div>
          <h5>Fabisia#8668</h5>
        </div>
        <div class="box">
          <img src="../assets/img/facet.png" alt="M">
          <div class="ad">Administrator</div>
          <h2>MrSandwich</h2>
          <div class="dc">Discord:</div>
          <h5>♡【MrSandwich】♡#3155</h5>
        </div>
        <div class="box">
          <img src="../assets/img/facet.png" alt="M">
          <div class="ad">Administrator</div>
          <h2>SPIRIT</h2>
          <div class="dc">Discord:</div>
          <h5>SPIRIT#8190</h5>
        </div>
      </div>
    </div>
    <Footer/>
  </div>
</template>

<script>
import Footer from '@/components/Footer.vue'

export default {
    name: 'Kontakt',
    components: {
      Footer
    }
}
</script>
<style lang="scss" scoped>
    .contact{
      .hero{
        width: 100vw;
        height: 70vh;
        background-color: #131524;
        background: url(../assets/bg/bg.png);
        background-attachment: fixed;
        background-size: cover;
        position: relative;
        overflow: hidden;
        z-index: 5;

        h1{
          position: absolute;
          left: 50%;
          top: 50%;
          font-size: 64px;
          transform: translate(-50%, -80%);
        }
      }

      .adm{
        width: 100%;
        min-height: 300px;
        background-color: #e1e7ff;
        color: black;
        padding: 50px 0;

        h1{
          margin: 0;
          margin-bottom: 50px;
          text-transform: uppercase;
          font-weight: 900;

        }

        .container_adm{
          .box{
            padding: 10px 20px;
            margin: 20px 20px;
            border-radius: 24px;
            background: #e1e7ff;
            box-shadow:  0px 16px 32px #bfc4d9;
            width: 180px;
            display: inline-block;
            transition: .2s;
            cursor: default;

            &:hover{
              transform: scale(1.05);
            }

            img{
              height: 70px;
            }

            .ad{
              padding: 5px 10px;
              border-radius: 10px;
              background-color: tomato;
              font-weight: bold;
              color: white;
            }
            h2{
              margin: 5px 0;
            }

            .dc{
              color: purple;
            }

            h5{
              margin: 0;
            }
          }
        }
      }
    }
</style>