<template>
  <div class="shop">
    <div class="hero">
      <h1>Sklep</h1>
      <img id="image-social" src="../assets/img/social.svg" alt="">
    </div>
    <div class="warningbg">
      <div class="warningcontainer">
        <h1>Uwaga!</h1>
        <div>
          <ul>
            <li>Nie zwracamy wydanych pieniędzy.</li>
            <li>Gdy kupujesz usługę, przy zakupie w polu "wiadomość" należy wpisać nazwę usługi.</li>
            <li>Po odbiór usługi zgłaszamy się do właścicieli</li>
          </ul>
        </div>
        <button class="warningbtn" @click="close_warning()">Ok. Wchodzę!</button>
      </div>
    </div>
    <Shop/>
    <Footer/>
  </div>
</template>
<script>
import Shop from '@/components/Shop.vue'
import Footer from '@/components/Footer.vue'

import { gsap } from 'gsap'

let tl = gsap.timeline()

export default {
    name: 'Sklep',
    components: {
      Shop,
      Footer
    },
    mounted: function(){
      gsap.set('.hero h1', {
        opacity: 0,
        translate: '-50% -50%',
        letterSpacing: '1vw',
        scale: 1.3
      })

      tl.to('.hero h1', 1, {
        opacity: 1,
        letterSpacing: '10px',
        translate: '-50% -50%',
        scale: 1,
        ease: 'power3',
        delay: .6
      })
      .from('#image-social', 2, {
        opacity: 0,
        y: '100px',
        scale: .7,
        ease: 'power4'
      })
      .from('.warningbg', 1, {
        opacity: 0
      }, '-=1.4')
      .from('.warningcontainer', 2, {
        scale: .4,
        opacity: 0,
        ease: 'elastic.out'
      })
    },
    methods: {
      close_warning(){
        tl.to('.warningcontainer', 1.5, {
          scale: .4,
          opacity: 0,
          ease: 'elastic.in'
        })
        .to('.warningbg', .3, {
          opacity: 0
        })
        .to('.warningbg', .2, {
          display: 'none'
        })
      }
    }
}
</script>
<style lang="scss" scoped>
    .shop{
      .warningbg{
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: #22222280;
        backdrop-filter: blur(10px);
        z-index: 9991;

        .warningcontainer{
          position: fixed;
          left: 50%;
          top: 50%;
          width: 400px;
          height: 260px;
          background-color: rgb(255, 236, 236);
          border-radius: 25px;
          transform: translate(-50%, -50%);
          color: black;

          h1{
            color: red;
          }

          ul{
            list-style-position: inside;
            position: relative;
            left: -15px;
          }

          .warningbtn{
            margin-top: 20px;
            padding: 5px 10px;
            background-color: white;
            border: 2px red;
            border-style: solid;
            border-radius: 10px;
            outline: none;
            cursor: pointer;
          }
        }
      }
        .hero{
          width: 100vw;
          height: 70vh;
          background-color: #1c1820;
          background: url(../assets/bg/bg.png);
          background-attachment: fixed;
          background-size: cover;
          position: relative;
          overflow: hidden;
          z-index: 5;

          h1{
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 65px;
            letter-spacing: 10px;
            transform: translate(-50%, -50%);
            z-index: 7;
          }

          #image-social{
            width: 40vw;
            opacity: .3;
            z-index: 6;
            position: absolute;
            left: 29vw;
            bottom: -30px;
          }
        }
    }
</style>