<template>
    <div class="footer">
        <h2>Graphic Planet - Polski Serwer Graficzny</h2>
        <h3>Designed & development by <a href="https://makoto.pl" target="_blank">Makoto.</a></h3>
    </div>
</template>
<script>
export default {
    name: 'Footer'
}
</script>
<style lang="scss" scoped>
    .footer{
        width: 100vw;
        height: 200px;
        background-color: #2d3247;
        padding: 50px 0;
        color: #aaa;

        a{
            text-decoration: none;
            color: #ccc;
        }
    }
</style>