<template>
    <div class="inf" id="info">
        <div class="flx img">
            <img id="image" src="../assets/img/teamspirit.svg" alt="">
        </div>
        <div class="flx txt">
            <h1>Kontakt</h1>
            <p>
                Graphic Planet, czyli serwer o głównej tematyce, czyli grafika komputerowa.
                Naszym celem jest zbieranie coraz większej społeczności o właśnie tym zainteresowaniu.
            </p>
        </div>
    </div>
</template>
<script>
export default {
    name: 'Homeinfo'
}
</script>
<style lang="scss" scoped>
    .inf{
        width: 100vw;
        min-height: 50vh;
        height: auto;
        background-color: rgb(255, 255, 255);
        color: black;

        .flx{
            display: inline-block;
            width: 49%;
            min-width: 400px;
            padding: 0;
            margin: 0;

            &.img{

                #image {
                    margin-left: 15%;
                    margin-top: 50px;
                    width: 500px;
                }
            }

            &.txt{
                padding: 100px 0;
                text-align: left;
                position: relative;
                top: -100px;
                h1{
                    margin: 0;
                    padding: 0;
                    text-transform: uppercase;
                }

                p{
                    width: 50%;
                }
            }

        }
    }

    @media screen and (max-width: 1024px) {
        .inf{
            width: 100vw;
            min-height: 50vh;
            height: auto;
            background-color: rgb(255, 255, 255);
            color: black;
            z-index: 5;
            position: relative;

            .flx{
                display: block;
                width: 49%;
                min-width: 400px;
                padding: 0;
                margin: 0;

                &.img{
                    opacity: .2;

                    #image {
                        margin: 0;
                        width: 500px;
                        position: absolute;
                        left: 0;
                        top: 0;
                        z-index: 7;
                    }
                }

                &.txt{
                    padding: 100px 0;
                    text-align: left;
                    position: relative;
                    top: 0px;
                    left: 50%;
                    z-index: 8;

                    h1{
                        margin: 0;
                        padding: 0;
                        text-transform: uppercase;
                    }

                    p{
                        width: 50%;
                    }
                }

            }
        }
    }

    @media screen and (max-width: 768px){
        .inf{
            width: 100vw;
            min-height: 50vh;
            height: auto;
            color: black;
            position: relative;

            .flx{
                display: block;
                width: 49%;
                min-width: 400px;
                padding: 0;
                margin: 0;

                &.img{
                    position: absolute;
                    opacity: .2;
                    right: 0;
                    top: 0;

                    #image {
                        margin: 0;
                        width: 400px;
                    }
                }

                &.txt{
                    padding: 100px 0;
                    text-align: left;
                    position: relative;
                    top: 0px;
                    left: 00%;
                    h1{
                        margin: 0;
                        padding: 0;
                        margin-left: 20vw;
                        text-transform: uppercase;
                    }

                    p{
                        width: 50%;
                        margin-left: 20vw;
                    }
                }

            }
        }
    }
</style>