<template>
    <div class="ogloszenia">
        <div class="container_ogl">
            <h1>📣</h1>
            <h1 class="h">Ogłoszenia</h1>
            <h3>(KLIKNIJ W OGŁOSZENIE ABY WYŚWIETLIĆ WIĘCEJ)</h3>

            <Ogl/>
            
        </div>
    </div>
</template>
<script>
import Ogl from '@/components/ogl/Ogl.vue'

export default {
    name: 'Ogloszenia',
    components: {
        Ogl
    }
}
</script>
<style lang="scss" scoped>
    .ogloszenia{
        width: 100vw;
        min-height: 40vh;
        background-color: #e1e7ff;
        color: black;

        .container_ogl{
            padding: 50px 0;
            text-transform: uppercase;

            .h{
                font-weight: 900;
                padding: 0;
                margin: 0;
            }
            h3{
                font-size: 16px;
                padding: 0;
                margin: 0;
            }

            .ogl{
                margin-top: 50px;
            }
        }
    }

    @media screen and (max-width: 425px) {
        .ogloszenia{
            width: 100vw;
            min-height: 40vh;
            color: black;

            .container_ogl{
                padding: 50px 0;
                text-transform: uppercase;

                .h{
                    font-weight: 900;
                    padding: 0;
                    margin: 0;
                }
                h3{
                    font-size: 12px;
                    padding: 0;
                    margin: 0;
                }

                .ogl{
                    margin-top: 50px;
                }
            }
        }
    }
</style>