<template>
    <div class="shop">
        <h4>Po najechaniu pojawiają się dodatkowe informacje</h4>
        <div class="tbl">
            <table cellspacing="0" cellpadding="0">
                <tr>
                    <td> <div class="hero_table">Produkt</div> </td>
                    <td> <div class="hero_table">Cena</div> </td>
                    <td> <div class="hero_table">Zakup</div> </td>
                </tr>
                <tr>
                    <td> <div class="name_product ban">Unban</div> </td>
                    <td> <div class="price">4zł</div> </td>
                    <td> <a href="https://tipply.pl/u/GraphicPlanet"> <button class="buy_btn">Kup</button> </a></td>
                </tr>
                <tr>
                    <td> <div class="name_product nick">Kolor nicku</div> </td>
                    <td> <div class="price">4zł</div> </td>
                    <td> <a href="https://tipply.pl/u/GraphicPlanet"> <button class="buy_btn">Kup</button> </a></td>
                </tr>
                <tr>
                    <td> <div class="name_product pr">Premium +</div> </td>
                    <td> <div class="price">3zł</div> </td>
                    <td> <a href="https://tipply.pl/u/GraphicPlanet"> <button class="buy_btn">Kup</button> </a></td>
                </tr>
                <tr>
                    <td> <div class="name_product prp">Premium</div> </td>
                    <td> <div class="price">2zł</div> </td>
                    <td> <a href="https://tipply.pl/u/GraphicPlanet"> <button class="buy_btn">Kup</button> </a></td>
                </tr>
            </table>
        </div>
    </div>
</template>
<script>
export default {
    name: 'Shop',
}
</script>
<style lang="scss" scoped>
    .shop{
        width: 100vw;
        min-height: 100vh;
        background-color: #e1e7ff;
        color: rgb(34, 34, 34);
        position: relative;

        h4{
            margin: 0;
            position: absolute;
            left: 50%;
            top: 50px;
            transform: translateX(-50%);
            color: #444;
        }

        .tbl{
            text-align: center;
            padding-top: 100px;
            width: 100vw;
            height: 100%;
            position: relative;

            table{
                position: absolute;
                left: 50%;
                top: 100px;
                transform: translateX(-50%);

                tr{
                    td{
                        .hero_table{
                            padding: 10px 25px;
                            background-color: #8999e4;
                            color: white;
                            border-radius: 15px;
                            margin: 10px 5px;
                        }

                        .name_product{
                            padding: 10px 25px;
                            background-color: #788ff3;
                            margin: 5px 5px;
                            border-radius: 10px;
                            font-weight: bold;
                            color: white;

                            &.ban{
                                background: #c40707;
                            }

                            &.nick{
                                background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,252,0,1) 13%, rgba(0,255,4,1) 34%, rgba(0,254,255,1) 50%, rgba(0,0,255,1) 62%, rgba(255,0,206,1) 81%, rgba(255,0,0,1) 100%);
                                position: relative;

                                &:hover{
                                   &::before{
                                       content: '(Na 30 dni) (można zmieniać wiele razy)';
                                       display: block;
                                       position: absolute;
                                       padding: 10px 5px;
                                       left: -25px;
                                       top: -60px;
                                       width: 200px;
                                       height: 40px;
                                       background-color: #222222e7;
                                       border-radius: 15px;
                                   }
                                }
                            
                            }

                            &.change{
                                position: relative;

                                &:hover{
                                   &::before{
                                       content: '(Na zawsze)';
                                       display: block;
                                       position: absolute;
                                       padding: 10px 5px;
                                       left: -25px;
                                       top: -50px;
                                       width: 200px;
                                       height: 30px;
                                       background-color: #222222e7;
                                       border-radius: 15px;
                                   }
                                }
                            }

                            &.pr{
                                background-color: #48a6d1;
                                position: relative;

                                &:hover{
                                   &::before{
                                       content: '(Na 30 dni)';
                                       display: block;
                                       position: absolute;
                                       padding: 10px 5px;
                                       left: -25px;
                                       top: -40px;
                                       width: 200px;
                                       height: 20px;
                                       background-color: #222222e7;
                                       border-radius: 15px;
                                   }
                                }
                            }

                            &.prp{
                                background-color: #48d1bf;
                                position: relative;

                                &:hover{
                                   &::before{
                                       content: '(Na 30 dni)';
                                       display: block;
                                       position: absolute;
                                       padding: 10px 5px;
                                       left: -25px;
                                       top: -40px;
                                       width: 200px;
                                       height: 20px;
                                       background-color: #222222e7;
                                       border-radius: 15px;
                                   }
                                }
                            }
                        }

                        .price{
                            padding: 10px 25px;
                            background-color: #a2b0ec;
                            margin: 5px 5px;
                            border-radius: 10px;
                            font-weight: bold;
                            color: white;
                        }

                        .buy_btn{
                            padding: 10px 25px;
                            background-color: #7c8cd3;
                            border: none;
                            margin: 5px 5px;
                            border-radius: 10px;
                            font-weight: bold;
                            color: white;
                            outline: none;
                            transition: .1s;

                            &:hover{
                                transform: scale(1.1);
                                background-color: #6977b9;
                            }

                            &:focus{
                                transform: scale(.95);
                                background-color: #6271b3;
                            }
                        }
                    }
                }
            }
        }
    }
</style>