<template>
    <div class="team">
        <div class="flx txt">
            <h1>Nasza ekipa</h1>
            <p>
                Na serwerze mamy dojrzałą i pomocną administrację,
                udzielamy pomocy i odpowiadamy na wszelkie pytania jak najszybciej możemy.
            </p>
            <a href="/Kontakt">
                <button class="cont_btn">Kontakt</button>
            </a>
        </div>
        <div class="flx img">
            <img id="image" src="../assets/img/team.svg" alt="">
        </div>
    </div>
</template>
<script>
export default {
    name: 'Team'
}
</script>
<style lang="scss" scoped>
    .team{
        width: 100vw;
        min-height: 50vh;
        height: auto;
        background-color: #e1e7ff;
        color: black;

        .flx{
            display: inline-block;
            width: 49%;
            min-width: 400px;
            padding: 0;
            margin: 0;

            &.img{

                #image {
                    margin-right: 15%;
                    margin-top: 50px;
                    width: 400px;
                }
            }

            &.txt{
                padding: 100px 0;
                text-align: left;
                position: relative;
                top: -120px;
                h1{
                    margin: 0;
                    padding: 0;
                    margin-left: 20vw;
                    text-transform: uppercase;
                }

                p{
                    width: 50%;
                    margin-left: 20vw;
                }

                .cont_btn{
                    padding: 5px 15px;
                    border: none;
                    border-radius: 10px;
                    font-size: 20px;
                    background-color: #8999e4;
                    color: white;
                    margin-left: 20vw;
                    transition: .2s;
                    outline: none;

                    &:hover{
                        transform: scale(1.1);
                        background-color: #9cabf1;
                    }
                    &:active{
                        transform: scale(.9);
                        background-color: #7a87c0;
                    }
                }
            }

        }
    }

    @media screen and (max-width: 1024px){
        .team{
            width: 100vw;
            min-height: 50vh;
            height: auto;
            color: black;
            position: relative;
            z-index: 6;

            .flx{
                display: block;
                width: 49%;
                min-width: 400px;
                padding: 0;
                margin: 0;

                &.img{
                    position: absolute;
                    opacity: .2;
                    right: 0;
                    top: 0;
                    z-index: 7;

                    #image {
                        margin: 0;
                        width: 400px;
                    }
                }

                &.txt{
                    padding: 100px 0;
                    text-align: left;
                    position: relative;
                    top: 0px;
                    left: 00%;
                    z-index: 8;
                    
                    h1{
                        margin: 0;
                        padding: 0;
                        margin-left: 20vw;
                        text-transform: uppercase;
                    }

                    p{
                        width: 50%;
                        margin-left: 20vw;
                    }

                    .cont_btn{
                        padding: 5px 15px;
                        border: none;
                        border-radius: 10px;
                        font-size: 20px;
                        color: white;
                        margin-left: 20vw;
                        transition: .2s;
                        outline: none;
                    }
                }

            }
        }
    }
</style>