<template>
    <div class="wsparcie" id="info">
        <div class="flx img">
            <img id="image" src="../assets/img/money.svg" alt="">
        </div>
        <div class="flx txt">
            <h1>Wesprzyj nas</h1>
            <p>
                Chcesz pomóc nam się rozwijać? <br>
                Wesprzyj nas już teraz!
            </p>
            <a href="/Donate">
                <button class="wsp_btn">Donate</button>
            </a>
        </div>
    </div>
</template>
<script>
export default {
    name: 'Wsparcie'
}
</script>
<style lang="scss" scoped>
    .wsparcie{
        width: 100vw;
        min-height: 50vh;
        height: auto;
        background-color: rgb(255, 255, 255);
        color: black;

        .flx{
            display: inline-block;
            width: 49%;
            min-width: 400px;
            padding: 0;
            margin: 0;

            &.img{

                #image {
                    margin-left: 15%;
                    margin-top: 50px;
                    width: 500px;
                }
            }

            &.txt{
                padding: 100px 0;
                text-align: left;
                position: relative;
                top: -100px;
                h1{
                    margin: 0;
                    padding: 0;
                    text-transform: uppercase;
                }

                p{
                    width: 50%;
                }
                .wsp_btn{
                    padding: 5px 15px;
                    border: none;
                    border-radius: 10px;
                    font-size: 20px;
                    background-color: #8999e4;
                    color: white;
                    transition: .2s;
                    outline: none;

                    &:hover{
                        transform: scale(1.1);
                        background-color: #9cabf1;
                    }
                    &:active{
                        transform: scale(.9);
                        background-color: #7a87c0;
                    }
                }
            }

        }
    }

    @media screen and (max-width: 1024px) {
        .wsparcie{
            width: 100vw;
            min-height: 50vh;
            height: auto;
            color: black;
            z-index: 5;
            position: relative;

            .flx{
                display: block;
                width: 49%;
                min-width: 400px;
                padding: 0;
                margin: 0;

                &.img{
                    opacity: .2;

                    #image {
                        margin: 0;
                        width: 500px;
                        position: absolute;
                        left: 0;
                        top: 0;
                        z-index: 7;
                    }
                }

                &.txt{
                    padding: 100px 0;
                    text-align: left;
                    position: relative;
                    top: 0px;
                    left: 50%;
                    z-index: 8;

                    h1{
                        margin: 0;
                        padding: 0;
                        text-transform: uppercase;
                    }

                    p{
                        width: 50%;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 768px){
        .wsparcie{
            width: 100vw;
            min-height: 50vh;
            height: auto;
            color: black;
            position: relative;
            z-index: 6;

            .flx{
                display: block;
                width: 49%;
                min-width: 400px;
                padding: 0;
                margin: 0;

                &.img{
                    position: absolute;
                    opacity: .2;
                    right: 0;
                    top: 0;
                    z-index: 7;

                    #image {
                        margin: 0;
                        width: 400px;
                    }
                }

                &.txt{
                    padding: 100px 0;
                    text-align: left;
                    position: relative;
                    top: 0px;
                    left: 0%;
                    z-index: 8;

                    h1{
                        margin: 0;
                        padding: 0;
                        margin-left: 20vw;
                        text-transform: uppercase;
                    }

                    p{
                        width: 50%;
                        margin-left: 20vw;
                    }

                    .wsp_btn{
                        padding: 5px 15px;
                        border: none;
                        border-radius: 10px;
                        font-size: 20px;
                        color: white;
                        margin-left: 20vw;
                        transition: .2s;
                        outline: none;

                    }
                }

            }
        }
    }
</style>