<template>
  <div id="app">
    <div id="nav">
      <div class="container_logo">
        <div class="logo">
          <a href="/">
            <img id="logo" src="./assets/logo/logo.png" alt="">
          </a>
        </div>
      </div>
      <div class="container_menu">
        <menu>
          <span class="menu_button"><router-link to="/">Home</router-link></span>
          <span class="menu_button"><router-link to="/Sklep">Sklep</router-link></span>
          <span class="menu_button"><router-link to="/Donate">Donate</router-link></span>
          <span class="menu_button"><router-link to="/Kontakt">Kontakt</router-link></span>
        </menu>
      </div>
      <div class="hamburger_section">
        <button @click="open_menu()">
          <div id="hamburger"></div>
        </button>
      </div>
    </div>
    <div class="mobilemenu" ref="mobilemenu">
      <div class="back" @click="close_menu()"> <img src="./assets/img/arrow_l.svg" alt=""></div>
      <div class="menu_button" @click="close_menu()"><router-link to="/">Home</router-link></div>
      <div class="menu_button" @click="close_menu()"><router-link to="/Sklep">Sklep</router-link></div>
      <div class="menu_button" @click="close_menu()"><router-link to="/Donate">Donate</router-link></div>
      <div class="menu_button" @click="close_menu()"><router-link to="/Kontakt">Kontakt</router-link></div>
    </div>
    <router-view/>
  </div>
</template>
<script>
import { gsap } from 'gsap'

let tl = gsap.timeline()

export default {
  methods: {
    open_menu(){
      const { mobilemenu } = this.$refs

      tl.to(mobilemenu, 1, {
        right: 0,
        ease: 'power3'
      })
      .fromTo('.menu_button', .5, {
        opacity: 0,
        margin: 0,
        scale: .6,
        y: 50,
      }, {
        opacity: 1,
        margin: '15px',
        y: 0,
        ease: 'power3'
      })
      .fromTo('.back', .1, {
        scale: .4,
        opacity: 0
      },{
        scale: 1,
        opacity: 1,
      })
    },
    close_menu(){
      const { mobilemenu } = this.$refs

      tl.to('.back', .1, {
        scale: .4,
        opacity: 0
      })
      .to('.menu_button', .5, {
        opacity: 0,
        margin: 0,
        scale: .6,
        y: 50,
        ease: 'power3'
      })
      .to(mobilemenu, 1, {
        right: '-100vw',
        ease: 'power3'
      })
    }
  }
}
</script>

<style lang="scss">
body{
  background-color: #2e2c57;
  color: #eeeeee;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

#nav {
  padding: 10px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100vw;
  height: 50px;
  background-color: #3d4175ce;
  backdrop-filter: blur(10px);

  .container_logo{
    display: inline-flex;
    width: 30%;
    text-align: right;

    .logo{
      width: 100%;
      height: 100%;
      position: relative;

      #logo{
        width: 60px;
        position: absolute;
        right: 0;
        top: -35px;
      }
    }
  }

  .container_menu{
    display: inline-flex;
    width: 70%;
    
    menu{
      width: 100%;
      height: 100%;
      position: relative;
      text-align: center;
      padding: 0;

      .menu_button{
        padding: 5px 15px;
        margin: 0 5px;
        opacity: 1 !important;
      }
    }
  }

  a {
    font-weight: bold;
    color: #eeeeee;
    text-decoration: none;

    &.router-link-exact-active {
      color: #8999e4;
      text-decoration: none;
      font-weight: 900;
    }
  }
}
.hamburger_section{
  display: none;
}
.mobilemenu{
  display: none;
}

@media screen and (max-width: 768px) {
  #nav{
    .container_logo{
      display: inline-flex;
      width: 30%;
      text-align: left;

      .logo{
        width: 100%;
        height: 100%;
        position: relative;

        #logo{
          width: 50px;
          position: absolute;
          left: 20px;
          right: unset;
          top: -15px;
        }
      }
    }

    .container_menu{
      display: none;
    }

    .hamburger_section{
      display: inline-flex;
      width: 70%;

      button{
        width: 60px;
        height: 50px;
        position: absolute;
        right: 50px;
        top: 10px;
        background-color: transparent;
        border: none;
        outline: none;

        #hamburger{
          width: 50px;
          height: 7px;
          background-color: white;
          border-radius: 4px;


          &::before{
            content: '';
            display: block;
            width: 50px;
            height: 7px;
            background-color: white;
            position: absolute;
            left: 6px;
            top: 10%;
            border-radius: 4px;
          }

          &::after {
            content: '';
            display: block;
            width: 50px;
            height: 7px;
            background-color: white;
            position: absolute;
            left: 6px;
            bottom: 10%;
            border-radius: 4px;
          }
        }
      }
    }
  }

  .mobilemenu{
    display: block;
    position: fixed;
    z-index: 999999;
    right: -100vw;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #3d4175;
    padding-top: 200px;

    .back{
      position: absolute;
      left: 30px;
      top: 30px;
      width: 70px;
      height: 70px;
    }

    .menu_button{
      margin: 15px;

      a{
        font-size: 56px;
        color: white;
        text-decoration: none;

        &.router-link-exact-active {
          color: #8999e4;
          text-decoration: none;
          font-weight: 900;
        }
      }
    }
  }
}
</style>
